@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --light: 240, 241, 242;
  --primary: 0, 0, 0;
  --secondary: 4, 59, 255;

}


body {
  color: rgb(var(--primary));
  background-color: rgb(var(--light));
  /* cursor: none; */
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(var(--secondary));
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* SPLASH SECTION START */

.fade-animation {
  animation-name: fade-in;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  opacity: 0;
}

.slide-right-animation {
  animation-name: slide-right;
  animation-delay: 2s;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* SPLASH SECTION END */

/* HOME SECTION START */
.clampLargeText {
  font-size: clamp(48px, -0.875rem + 8.333vw, 128px);
}

.nav-wrapper:hover>.nav-link:not(:hover) {
  opacity: 0.5;
}

.up-animation {
  animation-name: slide-up, fade-in;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY(50%);
  opacity: 0;
}

/* HOME SECTION END */

/* ABOUT SECTION START */

.slide-up-animation {
  animation-name: slide-up, fade-in;
  animation-timeline: view();
  animation-range-start: contain 0%;
  animation-range: contain 10%;
  /* animation-duration: 1000ms; */
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY(50%);
  opacity: 0;
}

/* ABOUT SECTION END */

/* PROJECTS SECTION START */

.c1 {
  clip-path: inset(0 100% 0 0);
}

.c2 {
  clip-path: inset(0 0 0 0);
}

.project-btn {
  animation-name: slide-left;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateX(100%);
}

/* PROJECTS SECTION END */

/* EXPERIENCE SECTION START */

.marquee-animation {
  animation-name: marquee;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marquee-animation-parent:hover {
  .marquee-animation {
    animation-play-state: paused;
  }
}

/* EXPERIENCE SECTION END */

/* CONTACT SECTION START */

/* .contact-marquee-animation {
  animation-name: marquee;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
} */
/* CONTACT SECTION END */



/* KEYFRAMES */

@keyframes slide-up {
  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes slide-right {
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-left {
  to {
    transform: translateX(0);
  }
}

@keyframes marquee {
  100% {
    transform: translateX(calc(-100%));
  }
}