@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --light: 240, 241, 242;
  --primary: 0, 0, 0;
  --secondary: 4, 59, 255;

}


body {
  color: rgb(var(--primary));
  background-color: rgb(var(--light));
  /* cursor: none; */
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(var(--secondary));
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* SPLASH SECTION START */

.fade-animation {
  animation-name: fade-in;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  opacity: 0;
}

.slide-right-animation {
  animation-name: slide-right;
  animation-delay: 2s;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* SPLASH SECTION END */

/* HOME SECTION START */
.clampLargeText {
  font-size: clamp(48px, -0.875rem + 8.333vw, 128px);
}

.nav-wrapper:hover>.nav-link:not(:hover) {
  opacity: 0.5;
}

.up-animation {
  animation-name: slide-up, fade-in;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY(50%);
  opacity: 0;
}

/* HOME SECTION END */

/* ABOUT SECTION START */

.slide-up-animation {
  animation-name: slide-up, fade-in;
  animation-timeline: view();
  animation-range-start: contain 0%;
  animation-range: contain 10%;
  /* animation-duration: 1000ms; */
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY(50%);
  opacity: 0;
}

/* ABOUT SECTION END */

/* PROJECTS SECTION START */

.c1 {
  clip-path: inset(0 100% 0 0);
}

.c2 {
  clip-path: inset(0 0 0 0);
}

.project-btn {
  animation-name: slide-left;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateX(100%);
}

/* PROJECTS SECTION END */

/* EXPERIENCE SECTION START */

.marquee-animation {
  animation-name: marquee;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marquee-animation-parent:hover {
  .marquee-animation {
    animation-play-state: paused;
  }
}


.curved-card {
  position: absolute;
  left: 50%;
  translate: -50% -50%;
}

.curved-section:hover {
  .curved-card-container {
    animation-play-state: paused;
  }
}

.curved-card-container {
  display: flex;
  position: relative;
  translate: 0 0 1000px;
  animation: rotate-experience 20s linear infinite;
}

.curved-section {
  display: grid;
  align-items: center;
  perspective: 1000px;
  overflow: hidden;
}

.curved-section * {
  transform-style: preserve-3d;
}

/* 
.curved-card-container>div:nth-child(1) {
  transform: rotateY(calc(1 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(2) {
  transform: rotateY(calc(2 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(3) {
  transform: rotateY(calc(3 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(4) {
  transform: rotateY(calc(4 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(5) {
  transform: rotateY(calc(5 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(6) {
  transform: rotateY(calc(6 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(7) {
  transform: rotateY(calc(7 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(8) {
  transform: rotateY(calc(8 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(9) {
  transform: rotateY(calc(9 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(10) {
  transform: rotateY(calc(10 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(11) {
  transform: rotateY(calc(11 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(12) {
  transform: rotateY(calc(12 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(13) {
  transform: rotateY(calc(13 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(14) {
  transform: rotateY(calc(14 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(15) {
  transform: rotateY(calc(15 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(16) {
  transform: rotateY(calc(16 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(17) {
  transform: rotateY(calc(17 * 20deg)) translateZ(-1200px);
}

.curved-card-container>div:nth-child(18) {
  transform: rotateY(calc(18 * 20deg)) translateZ(-1200px);
} */

@keyframes rotate-experience {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}


/* .curved-card {
  transform: rotateY(30deg);
  animation: curved-rotate 10s infinite;
} */
/* .curved-card:hover {
  transform: rotateY(0deg) translateZ(-200px);
}
.curved-card-container>curved-card-container:nth-child(2) {
  animation-delay: -1..25s;
} > div
.curved-card-container>curved-card-container:nth-child(3) {
  animation-delay: -2..5s;
} > div
.curved-card-container>curved-card-container:nth-child(4) {
  animation-delay: -5s.;
}
.curved > div-card-container>curved-card-container:nth-child(5) {
  animation-delay: -6..25s;
} > div
.curved-card-container>curved-card-container:nth-child(6) {
  animation-delay: -7..5s;
} > div */



/* EXPERIENCE SECTION END */


/* CONTACT SECTION START */

.bottom-slide-up-animation {
  animation-name: slide-up, fade-in;
  animation-timeline: view();
  animation-range-start: normal -10%;
  animation-range: normal 0%;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY(50%);
  opacity: 0;
}

/* CONTACT SECTION END */


/* LOADER SECTION START */

.ldr-container {
  --uib-size: 20vw;
  --uib-color: rgb(var(--light));
  --uib-speed: 2.5s;
  --uib-dot-size: calc(var(--uib-size) * 0.18);
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: var(--uib-size);
}

.ldr-dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.ldr-dot::before {
  content: '';
  display: block;
  height: calc(var(--uib-size) * 0.22);
  width: calc(var(--uib-size) * 0.22);
  border-radius: 50%;
  background-color: var(--uib-color);
  transition: background-color 0.3s ease;
}


.ldr-dot:nth-child(3)::before {
  background-color: rgba(var(--secondary));
}

.ldr-dot:nth-child(1) {
  animation: leapFrog var(--uib-speed) ease infinite;
}

.ldr-dot:nth-child(2) {
  transform: translateX(calc(var(--uib-size) * 0.4));
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -1.5) infinite;
}

.ldr-dot:nth-child(3) {
  transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -3) infinite;
}

@keyframes leapFrog {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  33.333% {
    transform: translateX(0) rotate(180deg);
  }

  66.666% {
    transform: translateX(calc(var(--uib-size) * -0.38)) rotate(180deg);
  }

  99.999% {
    transform: translateX(calc(var(--uib-size) * -0.78)) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}

/* LOADER SECTION END */


/* BnW SECTION START */

.bnw {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* BnW SECTION END */

/* ABOUT PAGE START */


.cp1 {
  clip-path: inset(0 0 0 0);
}

.cp2 {
  clip-path: inset(0 100% 0 0);
}

.cp3 {
  clip-path: inset(0 0 100% 0);
}

.cp4 {
  clip-path: inset(0 0 0 100%);
}

.cp5 {
  clip-path: inset(100% 0 0 0);
}

.reverse-marquee-animation {
  animation-name: marquee;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.marquee-animation-parent:hover {
  .marquee-animation {
    animation-play-state: paused;
  }
}


/* ABOUT PAGE END */

/* EXPERIENCE PAGE START */

.vertical-marquee-animation {
  animation-name: vertical-marquee;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.reverse-vertical-marquee-animation {
  animation-name: vertical-marquee;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

/* EXPERIENCE PAGE END */


/* KEYFRAMES */

@keyframes slide-up {
  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes slide-right {
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-left {
  to {
    transform: translateX(0);
  }
}

@keyframes marquee {
  100% {
    transform: translateX(calc(-100%));
  }
}

@keyframes vertical-marquee {
  100% {
    transform: translateY(calc(-100%));
  }
}

@keyframes curved-rotate {
  from {
    transform: rotateY(-30deg);
  }

  to {
    transform: rotateY(30deg);
  }
}